#admin_form{
  padding-left: 1%;
  padding-top: 1%;
}
#img_form{
  padding-top: 5%;
  padding-left: 5%;
}
#form_title{
  padding-top: 5%;
  padding-bottom: 1%;
}
#inscription_Membre-form{
  padding: 5% 2% 2% 5%;
  position: relative;
}
.contact-form-main #contact-form input {
  text-transform: none;
}
.contact-form-main #contact-form textarea {
  text-transform: none;
}

#my-modalito{
  display: none;
  background: rgba(0,0,0,0.5);
  padding-top: 10px;
  position: absolute;
  height: 60px;
  width: 600px;
  input{
    height: 25px;
  }
  p{
    color: white;
  };
}
